# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Outputs
results/*.png
results/*.pdf
results/*.csv
results/*.npy

# OS files
.DS_Store
Thumbs.db
